# Data Type

## INTEGER

In [ ]:
a=10
type(a)

In [2]:
num = int(input("Enter you Number:"))
isinstance(num,int)

Enter you Number:4

True

In [3]:
import math

math.factorial(5)

120

In [8]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [35]:
math.remainder(30,3)

0.0

In [37]:
math.sqrt(256)

16.0

In [41]:
x  =245
math.ulp(x)

2.842170943040401e-14

In [9]:
math.sin(90)

0.8939966636005579

In [10]:
math.cos(90)

-0.4480736161291701

In [12]:
a = 10+4
print(a)

14

### arthmatic

In [13]:
print(3e3)

3000.0

In [17]:
print(3**4)

81

In [19]:
a = 43
type(a)

int

## Return int value in class

In [27]:
class inte:
    mark = 90
    def __mark__ (self,mark):
        return self.mark 

inte = inte()
print(int(inte.mark))

90

# String

In [5]:
python = "Python programming is very easy and flexible."

In [6]:
python[0:6]

'Python'

In [11]:
python[-9:-1]

'flexible'

In [12]:
python[5:]

'n programming is very easy and flexible.'

In [13]:
python[:6]

'Python'

In [18]:
python[::-1]

'.elbixelf dna ysae yrev si gnimmargorp nohtyP'

In [21]:
python[:2:1]

'Py'

In [24]:
str1 = "welcome"
str2 = 'Good Moring'

str3 = str1+" "+str2
print(str3)

welcome Good Moring

In [36]:
name = input("Enter Your Name:")

print("your name added in The list",name)
print(f'{name} welcome ')
print("coiming agin {}".format(name))

Enter Your Name:Manikandan
your name added in The list Manikandan
Manikandan welcome
coiming agin Manikandan

## Print Lines " \ " method

In [32]:
string = "I know \n SQL \n excel \n Python"

print(string)

I know
 SQL
 excel
 Python

In [37]:
print(f'My name is {name}')

My name is Manikandan

In [10]:
a = "traffic"
print(f'The road is {a}')

The road is traffic

In [12]:
print("The road is {0}".format(a))

The road is traffic

In [13]:
a.upper()

'TRAFFIC'

In [15]:
len(a)

7

In [17]:
a.lower()

'traffic'

In [54]:
p = "Python"
q = "Programming"
mark = 752345

print("%s %s is hlep to Big data %d field" %(p,q,mark))

Python Programming is hlep to Big data 752345 field

In [22]:
value = "     Learn Information     "
value.strip()

'Learn Information'

In [39]:
mark = "89265"
mark.isdigit()

marks = " sklaoisf"
marks.isdigit()

False

In [37]:
alpha = "Apple"

alpha.isalpha()

False

In [42]:
emty = " "
emty.isspace()

True

In [44]:
alpha.find("l")

4

In [49]:
address = "19, Thalapalayam, Olagadam, Bhavani, Erode - 638314"
add = address.split(",")
add[1]

' Thalapalayam'

In [50]:
address in address

True

In [51]:
address not in address

False

In [52]:
address in address

True

In [55]:
Tamil = int(input("Enter your Tamil Mark:"))
English = int(input("Enter your English Mark:"))
Math = int(input("Enter your Math Mark:"))

print("My Mark is \n Tamil %d,\n English %d,\n Math %d, " %(Tamil, English, Math))

Enter your Tamil Mark:81
Enter your English Mark:63
Enter your Math Mark:85
My Mark is
 Tamil 81,
 English 63,
 Math 85,

In [61]:
Tamil is English

False