# List

In [68]:
list = [1,2,3,4,5,6]
print(list)

[1, 2, 3, 4, 5, 6]

In [2]:
type(list)

list

In [3]:
len(list)

6

In [4]:
list[0:]

[1, 2, 3, 4, 5, 6]

In [5]:
list[:4]

[1, 2, 3, 4]

In [6]:
list[::-1]

[6, 5, 4, 3, 2, 1]

In [7]:
list[:-1]

[1, 2, 3, 4, 5]

In [12]:
list[-4:]

[3, 4, 5, 6]

In [25]:
list.append(3)
print(list)

[1, 2, 3, 4, 5, 6, 3, 3, 3, 3]

In [30]:
del list[6:]

In [31]:
list

[1, 2, 3, 4, 5, 6]

In [32]:
list1 = list
list2 = list.copy()
list3 = list1+list2

In [33]:
print(list3)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [37]:
print("value:",list1+list2)

value: [1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [38]:
fruits = ['apple', 'banana', 'cherry']
more_fruits = ['orange', 'grape']
fruits.extend(more_fruits)
print(fruits)

['apple', 'banana', 'cherry', 'orange', 'grape']

In [41]:
list3.count(1)

2

In [49]:
list3.index(6)

5

In [50]:
for i in list3:
    print(i,end=" ")

1 2 3 4 5 6 1 2 3 4 5 6

In [53]:
if list1==list1:
    print("The Two list are equal")
else:
    print("The not equal")

The Two list are equal

## reverse()

In [59]:
list[::-1]

[1, 2, 3, 4, 5, 6]

In [60]:
list.sort()

In [72]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.index(2, 3, 6))

4

In [73]:
List.sort(reverse=True)

print(List)

[3, 3, 2, 2, 2, 2, 1, 1, 1, 1]

In [70]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
List.sort(reverse=True)
 
print(List)

[5.33, 4.445, 3, 2.5, 2.3, 1.054]

# Dict()

In [2]:
dit = {}
print(dit)

{}

In [3]:
stu = dict()
print(stu)

{}

In [4]:
stu["Student"] = ["Marks"]

In [5]:
print(stu)

{'Student': ['Marks']}

In [15]:
stu["Subject"] = [81,63,85,97,100]

In [13]:
print(stu)

{'Student': ['Marks'], 'Subject': 'Manikandan'}

In [11]:
stu["Subject"] = "Manikandan"

In [16]:
print(stu)

{'Student': ['Marks'], 'Subject': [81, 63, 85, 97, 100]}

In [17]:
stu.rename("Subject","Manikandan")
print(stu)

AttributeError: 'dict' object has no attribute 'rename'

In [18]:
print(stu["Subject"])

[81, 63, 85, 97, 100]

In [21]:
stu["Manikandan"] = stu["Subject"]
print(stu)

{'Student': ['Marks'], 'Subject': [81, 63, 85, 97, 100], 'Manikandan': [81, 63, 85, 97, 100]}

In [22]:
del stu["Subject"]

In [23]:
print(stu)

{'Student': ['Marks'], 'Manikandan': [81, 63, 85, 97, 100]}

In [24]:
import pandas as pd

In [45]:
df = pd.DataFrame(stu)

In [34]:
stu["Student"] = ["Tamil","English","Math","Science","Social"]

In [36]:
print(df)

   Student  Manikandan
0    Tamil          81
1  English          63
2     Math          85
3  Science          97
4   Social         100

In [42]:
stu["Marks"] = stu["Manikandan"]

In [40]:
print(stu)

{'Manikandan': [81, 63, 85, 97, 100], 'Subject': ['Tamil', 'English', 'Math', 'Science', 'Social']}

In [43]:
del stu["Manikandan"]

In [44]:
print(stu)

{'Subject': ['Tamil', 'English', 'Math', 'Science', 'Social'], 'Marks': [81, 63, 85, 97, 100]}

In [46]:
print(df)

   Subject  Marks
0    Tamil     81
1  English     63
2     Math     85
3  Science     97
4   Social    100

In [47]:
print(stu.keys())

dict_keys(['Subject', 'Marks'])

In [48]:
print(stu.items())

dict_items([('Subject', ['Tamil', 'English', 'Math', 'Science', 'Social']), ('Marks', [81, 63, 85, 97, 100])])

In [1]:
car = {"Type":"BMW","Model":"E4c", "Year":1946}
print(car)
car2= car.copy()
print(car2)

{'Type': 'BMW', 'Model': 'E4c', 'Year': 1946}
{'Type': 'BMW', 'Model': 'E4c', 'Year': 1946}